.app {
  height: 100vh;
  background-color: rgba(220, 224, 183, 0.432);
  display: grid;
  place-items: center;
}

.video-container {
  height: 77.7vh;
  object-fit: fill;
  overflow: scroll;
  width: 43.6vh;
}

@media only screen and (max-width: 500px) {
  .video-container {
    height: 100%;
    width: 100%;
  }
}
.bottomBar {
  width: 43.6vh;
  top : 87%
}
@media only screen and (max-width: 500px) {
  .bottomBar {
    width: 100vh;
    top : 92%
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.container::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.container {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
