.app {
  height: 100vh;
  background-color: rgba(220, 224, 183, 0.432);
  display: grid;
  place-items: center;
}

.video-container {
  height: 77.7vh;
  object-fit: fill;
  border-radius: 15px;
  overflow: scroll;
  width: 43.6vh;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.container::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.container {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
